<script src="https://kit.fontawesome.com/15465669be.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

<header>
  <div class="info-header">
      <h1>Seja bem Vindo!</h1>
  </div>
</header>
<main>
  <section class="main">
   <div class="sidebar">
        <h3>Home</h3>
        <div class="funcionalidades">
             <button><a href="#">Dados da sua Conta</a></button>
             <button><a href="#">Relatorio de Debitos</a></button>
        </div>

    </div>
    <div class="content">
      <img src="./imagens/Untitled.png" alt="">
    </div>
  </section>
</main>