<script src="https://kit.fontawesome.com/15465669be.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">

<header>
  <div class="info-header">
     <h1>Banco do Brasil</h1>
  </div>
</header>
<main>
  <div class="menu">
    <h1>Seja Bem Vindo!</h1>
    <p>Nesta tela você usuario poderá escolher entre criar novas contas e novos clientes, ou pesquisar e gerenciar os mesmos</p>
   <div class="content-center">
    
      <h2>Escolha o que deseja fazer</h2>
      <div class="buttons">
        <button class="cadastro" type="button"> Cadastrar Cliente/Conta </button>
        <button class="Pesquisa" type="button"> Pesquisar Cliente/Conta </button>
      </div>
    </div>
  </div>
</main>