<header>
    <div class="nav">
       <button class="btn">Cadastrar</button>
       <button class="btn">Consultar</button>
    </div>
</header>
<main>
    <div class="container">
        <h2>Insira os dados</h2>
        <div class="form">
            <div class="inputs">
                <div class="input-box">
                    <label for="firstname" class="col1">Primeiro Nome:</label>
                    <input id="firstname" type="text" name="firstname" placeholder="Digite seu primeiro nome" required>
                </div>
                <div class="input-box" >
                    <label for="lastname" class="col1">Sobrenome:</label>
                    <input id="lastname" type="text" name="lastname" placeholder="Digite seu sobrenome" required>
                </div>
                <div class="input-box">
                    <label for="email" class="col1">E-mail:</label>
                    <input id="email" type="email" name="email" placeholder="Digite seu e-mail" required>
                </div>
                <div class="input-box">
                    <label for="number" class="col1">Celular:</label>
                    <input id="number" type="tel" name="number" placeholder="(xx) xxxx-xxxx" required>
                </div>
                <div class="input-box">
                    <label for="number" class="col1">CPF:</label>
                    <input id="number" type="CPF" name="CPF" placeholder="123.456.789-10" required>
                </div>
                <div class="input-box">
                    <label for="number" class="col1">Renda Mensal:</label>
                    <input id="number" type="number" placeholder="1200,R$" required>
                </div>
            </div>
            <div class="gender-pather">
                <div class="gender-title">
                    <h6>Gênero:</h6>
                </div>
                <div class="gender">
                    <input type="radio" id="female" name="gender">
                    <label for="female">Femino</label>
                </div>
                <div class="gender">
                    <input type="radio" id="male" name="gender">
                    <label for="male">Masculino</label>
                </div>
                <div class="gender">
                    <input type="radio" id="none" name="gender">
                    <label for="noen">Prefiro não dizer</label>
                </div>
                </div>    
            <div class="createAccount">
                <button>Criar Conta</button>
            </div>
        </div>
    </div>
</main>